### Node template
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py

# virtualenv
venv/
venv3.6/
ENV/

# Rope project settings
.ropeproject
/_quick_notes.txt
.idea
/client/src/js/bundle.js
*-compiled.js
*-compiled.js.map

/client/src/js/bundle.js.map
/server/api/MEDIA/
/_playground/
