#app-run-isauthorized-errback-alert {
    width: 300px;
    height: 80px;
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -40px;
}

.alert-warning {
    background-color: #4e350c;
    border-color: #775111;
    color: #a5a5a5;
}

.alert-success {
    background-color: #0c5240;
    border-color: #0f7b60;
    color: #a5a5a5;
}

.alert-info {
    background-color: #1a4867;
    border-color: #3e7396;
    color: #a5a5a5;
}

.alert-danger {
    background-color: #652720;
    border-color: #90443d;
    color: #a5a5a5;
}