/*******************/
/*** log in form ***/
/*******************/
#chat-login input {
    background-color: #222222;
    color: #0ce3ac;
}

#chat-login .chat-loader {
    display: inline-block;
    height: 25px;
}
