.chat-loader {
    perspective: 1800px;
    -o-perspective: 1800px;
    -ms-perspective: 1800px;
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.chat-loader-global {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
}

.chat-loader-local {
    width: 50px;
    height: 50px;
    position: relative;
}

.cssload-circle {
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 0;
    border: 3px solid rgba(0, 135, 73, 0.8);
    border-radius: 67px;
    position: absolute;
    top: 0;
    left: 0;
    animation: cssload-spin 4.5s ease-in-out alternate infinite;
    -o-animation: cssload-spin 4.5s ease-in-out alternate infinite;
    -ms-animation: cssload-spin 4.5s ease-in-out alternate infinite;
    -webkit-animation: cssload-spin 4.5s ease-in-out alternate infinite;
    -moz-animation: cssload-spin 4.5s ease-in-out alternate infinite;
}

.chat-loader-global .cssload-circle {
    width: 90px;
    height: 90px;
}

.chat-loader-local .cssload-circle {
    width: 50px;
    height: 50px;
}

.cssload-circle:nth-of-type(1) {
    animation-delay: 75ms;
    -o-animation-delay: 75ms;
    -ms-animation-delay: 75ms;
    -webkit-animation-delay: 75ms;
    -moz-animation-delay: 75ms;
}

.cssload-circle:nth-of-type(2) {
    animation-delay: 150ms;
    -o-animation-delay: 150ms;
    -ms-animation-delay: 150ms;
    -webkit-animation-delay: 150ms;
    -moz-animation-delay: 150ms;
}

.cssload-circle:nth-of-type(3) {
    animation-delay: 225ms;
    -o-animation-delay: 225ms;
    -ms-animation-delay: 225ms;
    -webkit-animation-delay: 225ms;
    -moz-animation-delay: 225ms;
}

.cssload-circle:nth-of-type(4) {
    animation-delay: 300ms;
    -o-animation-delay: 300ms;
    -ms-animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
}

.cssload-circle:nth-of-type(5) {
    animation-delay: 375ms;
    -o-animation-delay: 375ms;
    -ms-animation-delay: 375ms;
    -webkit-animation-delay: 375ms;
    -moz-animation-delay: 375ms;
}

@keyframes cssload-spin {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-o-keyframes cssload-spin {
    0% {
        -o-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -o-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -o-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -o-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -o-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-ms-keyframes cssload-spin {
    0% {
        -ms-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -ms-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -ms-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -ms-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -ms-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-webkit-keyframes cssload-spin {
    0% {
        -webkit-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -webkit-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -webkit-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -webkit-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -webkit-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}

@-moz-keyframes cssload-spin {
    0% {
        -moz-transform: rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
    25% {
        -moz-transform: rotateY(180deg) rotateX(360deg);
    }
    50% {
        -moz-transform: rotateY(540deg) rotateX(540deg);
    }
    75% {
        -moz-transform: rotateY(720deg) rotateX(900deg);
    }
    100% {
        -moz-transform: rotateY(900deg) rotateX(1080deg);
        opacity: 1;
    }
}