/************/
/*** init ***/
/************/
body, .content-wrapper {
    background-color: #374850;
}

/**************/
/*** footer ***/
/**************/
.main-footer {
  background: #222d32;
  color: #b8c7ce;
  border-top: 1px solid #1a2226;
}

/*************/
/*** login ***/
/*************/
.login-logo, .register-logo {
    color: #ffffff;
}
body.login {
    background: url(
    "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAV0lEQVQoU2NU0jX6z0AEYERWKCotB9fy+ukjFO1whciKYCqQFYMVghSBBNFNhImDNKIoBAkgS2JViMs/MOsx3IjsBAw3wqxENxWnQphpyDRMM4rV+BQCAA5uRQvwMtvwAAAAAElFTkSuQmCC"
    ) repeat;
}


/*!************!*/
/*!*** init ***!*/
/*!************!*/
/*#chat-sidebar,*/
/*#chat-messages {*/
    /*display: none;*/
/*}*/


/*!***************!*/
/*!*** nav bar ***!*/
/*!***************!*/
/*.navbar {*/
    /*background-color: #222222;*/
/*}*/
/*div.navbar-default .navbar-brand {*/
    /*color: #777 !important;*/
/*}*/

/*!***************!*/
/*!*** sidebar ***!*/
/*!***************!*/

/*.thread-sidebar {*/
    /*max-height: 600px;*/
    /*overflow: scroll;*/
/*}*/

/*.thread-img {*/
    /*height: 45px;*/
    /*width: 45px;*/
/*}*/

/*!*************************!*/
/*!*** message container ***!*/
/*!*************************!*/

/*.message-container {*/
    /*max-height: 600px;*/
    /*overflow: scroll;*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/

/*.message-img {*/
    /*height: 35px;*/
    /*width: 35px;*/
/*}*/

/*!********************!*/
/*!*** message form ***!*/
/*!********************!*/

/*.message-form {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/

/*.message-form .well {*/
    /*background-color: #3e3e3e;*/
/*}*/

/*.message-form textarea {*/
    /*width: 100%;*/
    /*min-width: 100%;*/
    /*max-width: 100%;*/
    /*height: 120px;*/
    /*min-height: 120px;*/
    /*max-height: 120px;*/
    /*resize: none;*/
    /*background-color: #303030;*/
    /*color: #0ce3ac;*/

/*}*/

/*.message-form textarea::selection {*/
    /*background: #ff0000;*/
/*}*/
