/************/
/*** init ***/
/************/
.content-wrapper {
    background-color: #374850;
}

body {
    background: url(
    "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAV0lEQVQoU2NU0jX6z0AEYERWKCotB9fy+ukjFO1whciKYCqQFYMVghSBBNFNhImDNKIoBAkgS2JViMs/MOsx3IjsBAw3wqxENxWnQphpyDRMM4rV+BQCAA5uRQvwMtvwAAAAAElFTkSuQmCC"
    ) repeat;
}

/**************/
/*** footer ***/
/**************/
.main-footer {
    background: #222d32;
    color: #b8c7ce;
    border-top: 1px solid #1a2226;
}

/*************/
/*** login ***/
/*************/
.login-logo, .register-logo {
    color: #ffffff;
}
